@import "~bulma/sass/utilities/initial-variables";

/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base * 1.5;

/* Default font */
$family-sans-serif: "Nunito", sans-serif;

/* Base color */
$base-color: #ffffff;
$base-color-light: #f1f2f2;

/* General overrides */
$primary: $cyan;
$body-background-color: $white;
$link: $blue;
$link-visited: $purple;
$light-border: 1px solid $base-color-light;
$hr-height: 1px;
$border: $base-color-light;

/* NavBar: Bulma override */
$navbar-item-color: $link;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $black-ter;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: $base-color;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;

/* NavBar: specifics */
$navbar-input-color: $grey-darker;
$navbar-input-placeholder-color: $grey-lighter;
$navbar-box-shadow: 0 1px $base-color-light;
$navbar-divider-border: 1px solid $base-color-light;
$navbar-item-h-padding: $default-padding * .75;

/* Footer: Bulma override */
$footer-background-color: transparent;
$footer-padding: $default-padding * .33 $default-padding;

/* Status/State colors (based on Bulma's) */
$state-colors:
    ('primary', $white, $white),
    ('info', $blue, $white),
    ('success', $green, $white),
    ('warning', $yellow, $grey-darker),
    ('danger', $red, $white),
    ('dark', $grey-darker, $white),
    ('white', $white, $black-ter);

/* Dark Mode */
$dark-mode-color: #DBDBDB;
$dark-mode-background-color: #181C27;
$dark-mode-navbar-background-color: #141720;
$dark-mode-navbar-hover-color: transparent;
$dark-mode-lighter-background-color: $grey-darker;
$dark-mode-border-color: $white-ter;
$dark-mode-border: 1px solid $dark-mode-border-color;
$dark-mode-light-border-color: white;
$dark-mode-light-border: 1px solid $dark-mode-light-border-color;
$dark-mode-link-color: $white;
$dark-mode-overlay-background-color: rgba($black, .85);
$dark-mode-button-color: $white-ter;
$dark-mode-button-hover-color: $black-ter;
$dark-mode-card-header-button-color: $grey;
$dark-mode-card-header-button-hover-color: $black-ter;
$dark-mode-footer-background-color: #181b26;

/* CSS */
hr {background-color: #dbdbdb;}
